.common{
    text-align: center;
    position: static;
}
.header{
    height: 100px;
    background-color: rgb(249, 171, 141);
    color: gray;
    line-height: 100px;
}
.mainbody{
    background-color: cornsilk;
    color: gray;
    right: 5px;
    left: 5px;
}
.footer{
    height: 50px;
    background-color:powderblue;
    color: gray;
    line-height: 50px;
}
img{
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}